<link rel="stylesheet" type="text/css" href="/css/layout.css">

<form method="post" action="confirm">
	<%=p_quantity%>
	<hr>
	<%=p_size%>
	<hr>
	<%=p_crust%>
	<hr>
	<%=p_toppings%>
	<hr>
	<%=p_delivery%>
</form>