<link rel="stylesheet" type="text/css" href="/css/confirm.css">

<form method="post" action="confirm">
		<h5>Please confirm your order below:</h5>
	<div class="confirm_quantity">
			<% p_quantity.to_i %>
			<% if p_quantity.to_i > 1 %>
				<%= "#{p_quantity} Pizzas" %>
			<% else %>
				<%= "#{p_quantity} Pizza" %>
			<% end %><br>
			
		<label for="yes">Yes</label>
			<input type="radio" name="confirm_quantity" value="yes" required>
		<label for="no">No</label>
			<input type="radio" name="confirm_quantity" value="no">
	</div>
	<br>
	<div class="confirm_size">
			<%= p_size.capitalize %><br>
			<label for="yes">Yes</label>
				<input type="radio" name="confirm_size" value="yes" required>
			<label for="no">No</label>
				<input type="radio" name="confirm_size" value="no">
	</div>

	<br>
	<div class="confirm_crust">
		
			<%= p_crust.capitalize %><%=" crust"%>
			<%if p_crust == "pan"%>
				<img src=/images/crustsauce/pan.png>
				<%elsif p_crust == "hand tossed"%>
				<img src=/images/crustsauce/hand_tossed.png>
				<%end%><br>
		
			<label for="yes">Yes</label>
				<input type="radio" name="confirm_crust" value="yes" required>
		
			<label for="no">No</label>
				<input type="radio" name="confirm_crust" value="no">
	</div>

	<br>


	<div class="confirm_sauce">
		<%=sauces.capitalize%><%= " Sauce"%><br>
		<%if sauces == "marinara"%>
				<img src=/images/crustsauce/marinara.png>
				<%elsif sauces == "ranch"%>
				<img src=/images/crustsauce/ranch.png>
				<%end%><br>
		<label for="yes">Yes</label>
		<input type="radio" name="confirm_sauce" value="yes" required>
			<label for="no">No</label>
				<input type="radio" name="confirm_sauce" value="no">
	</div><br>

	<div class="confirm_delivery">
		<%= p_delivery.capitalize %><br>
		<label for="yes">Yes</label>
				<input type="radio" name="confirm_delivery" value="yes" required>
			<label for="no">No</label>
				<input type="radio" name="confirm_delivery" value="no">
	</div><br>
			

	<div class="confirm_topping">
			<%= "Toppings:"%><br>
			<% toppings.each do |top| %>
				<%= top.capitalize %>
				<% if top == "pepperoni"%>
				<img src=/images/toppings/pepperoni.png>
				<% elsif top == "sausage"%>
				<img src=/images/toppings/sausage.png>
				<% elsif top == "ham"%>
				<img src=/images/toppings/ham.png>
				<% elsif top == "bacon"%>
				<img src=/images/toppings/mybacon.png>
				<% elsif top == "green peppers"%>
				<img src=/images/toppings/green-peppers.png>
				<% elsif top == "banana peppers"%>
				<img src=/images/toppings/nanpep.png>
				<% elsif top == "mushrooms"%>
				<img src=/images/toppings/mush.png>
				<% elsif top == "olives"%>
				<img src=/images/toppings/pizza_designer_olives.png>
				<% elsif top == "onions"%>
				<img src=/images/toppings/onions.png>
				<% elsif top == "pineapple"%>
				<img src=/images/toppings/pinap.png>
				<% elsif top == "extra cheese"%>
				<img src=/images/toppings/cheese.png>
			<%end%>

		<%end%><br>
			<label for="yes">Yes</label>
				<input type="radio" name="confirm_topping" value="yes" required>
			<label for="no">No</label>
				<input type="radio" name="confirm_topping" value="no">
	</div>
	<br>

	<input type="hidden" name="street" value="<%=street%>">
	<input type="hidden" name="city" value="<%=city%>">
	<input type="hidden" name="state" value="<%=state%>">
	<input type="hidden" name="zip" value="<%=zip%>">

	<button type="submit">Confirm Order
</form>