<link rel="stylesheet" type="text/css" href="/css/total.css">

<form method="post" action="total_page">

<%= "Your total is $" %>
<% if p_total.to_s[-2] == "." %>
	<% pp_total = p_total.to_s.insert(-1, "0") %>
	<%= pp_total %>
<% else %>
	<% pp_total = p_total %>
	<%= pp_total %>
<% end %>

<hr>

<%=" #{delivery.capitalize}" %><br>
	<% quantity.to_i %>
	<% if quantity.to_i > 1 %>
		<%= "#{quantity} #{size.capitalize}  Pizzas" %>
	<% else %>
		<%= "#{quantity}  #{size.capitalize} Pizza" %>
	<% end %><hr>
<%= "The pizza will have the following:"%><hr>
<div class="crust">
	<%= crust.capitalize %><%=" crust"%>
	<%if crust == "pan"%>
		<img src=/images/crustsauce/pan.png>
	<%elsif crust == "hand tossed"%>
		<img src=/images/crustsauce/hand_tossed.png>
	<%end%><br>
</div>

<div class="sauces">
	<%= sauces.capitalize%><%= " sauce"%>
	<%if sauces == "marinara"%>
		<img src=/images/crustsauce/marinara.png>
	<%elsif sauces == "ranch"%>
		<img src=/images/crustsauce/ranch.png>
	<%end%><br>
</div>

<div class="top">
	<% topppings.each do |top|%>
	<%=top.capitalize%>
    <% if top == "pepperoni"%>
		<img src=/images/toppings/pepperoni.png><br>
	<% elsif top == "sausage"%>
		<img src=/images/toppings/sausage.png><br>
	<% elsif top == "ham"%>
		<img src=/images/toppings/ham.png><br>
	<% elsif top == "bacon"%>
		<img src=/images/toppings/mybacon.png><br>
	<% elsif top == "green peppers"%> 
		<img src=/images/toppings/green-peppers.png><br>
	<% elsif top == "banana peppers"%>
		<img src=/images/toppings/nanpep.png><br>
	<% elsif top == "mushrooms"%>
		<img src=/images/toppings/mush.png><br>
	<% elsif top == "olives"%>
		<img src=/images/toppings/pizza_designer_olives.png><br>
	<% elsif top == "onions"%>
		<img src=/images/toppings/onions.png><br>
	<% elsif top == "pineapple"%>
		<img src=/images/toppings/pinap.png><br>
	<% elsif top == "extra cheese"%>
		<img src=/images/toppings/cheese.png><br>
	<% elsif top == "chives"%>
		<img src=/images/toppings/chives.png><br>
    <%end%>
	<%if top == "pepperoni" && "green peppers" && "mushrooms" && "olives" && "chives"%>
		<audio autoplay>
  			<source src="audio/pizza_pie.mp3" type="audio/mpeg">
		</audio>
	<%end%>
	
<%end%>
</div>

<hr>

<% if street != ""%>
	<%= "Your pizza will be delivered to #{street}, #{city}, #{state}, #{zip}"%>
<%end%>

</form>